.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.med-table-noselect {
  user-select: none;
  -webkit-user-select: none;
}

@media print {
  body {
    background: none;
    opacity: 0.95;
    position: relative;
  }
  body::after {
    content: "MedAdmit - For reference only";
    opacity: 0.2;
    font-size: 2rem;
    position: fixed;
    top: 40%; left: 20%; right: 20%;
    color: #0e226c;
    z-index: 10000;
    pointer-events: none;
  }
}
